//
//  Production.xcconfig
//  boilerplate-ios-swiftui
//
//  Created by Can Baybunar on 19.11.2020.
//  Copyright © 2020 Adesso Turkey. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.adesso.MovieAppHakan.prod
BASE_URL = https:/$()/api.themoviedb.org/3/
API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjZGJjM2Q1YzRmNDY5ZTgxYWE1MjRjNzA3MmYwZWI2NyIsInN1YiI6IjY0YWZlMDg1ZDY1OTBiMDEzYmE0Y2JkOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.1Canhnh1iEvjLHx3lDpVkDFGnpKYcri8fzGufsDBAss
